RewriteEngine On
RewriteCond %{REQUEST_FILENAME}  !-f
RewriteCond %{REQUEST_FILENAME}  !-d
RewriteRule .? - [S=1]
# IF the file exists
RewriteRule ^(.*)$	$1 [END]
# ELSE
RewriteCond %{REQUEST_URI} ^.*\.html.*$
RewriteRule ^(.*\.html)/?(.*)$ index.php?p=html/$1&q=$2 [END]
RewriteRule ^(.*)$	html/$1 [END]
# END
